COMPOSE_PROJECT_NAME=bimchain
FABRIC_VERSION=2.5
CA_VERSION=1.5
COUCHDB_VERSION=3.3
ARCHITECT_PEER0_PORT=7051
ENGINEER_PEER0_PORT=9051
ORDERER_PORT=7050
CA_ARCHITECT_PORT=7054
CA_ENGINEER_PORT=8054
COUCHDB_PASSWORD=change-me-to-a-secure-password
JWT_SECRET=change-me-to-a-random-64-char-string
